
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>MYPAGE</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'dtox/images/favicon.svg' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'amado/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'amado/style.css' %}">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    

<!--        
        <div class="mobile-nav" >
           
            <div class="logo" >
                <a href="index.html"><h4 class="text-center" style="font-family: cursive;">MYPAGE</h4></a>
            </div>
            
            
        </div>

        
        <header class="header-area clearfix" >
            
            <div class="logo" >
                <div> <a href="index.html"> </a></div>
            </div>
           
        </header> -->
        
        <h1 class="text-center" style="font-family: cursive; margin-top: 2%;" >MYPAGE</h1>
    <div class="container-fluid">
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item text-capitalize"><a href="{% url 'product_list' biz.slug %}">{{biz.business_name}}</a></li>
                                <!-- <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                                <li class="breadcrumb-item"><a href="#">Chairs</a></li> -->
                                <li class="breadcrumb-item active" aria-current="page">{{product.product_name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="container " style="width: 80%; border: 2px solid #93D2FF;  padding: 2%;">

                            <div class="container">
                                  
                                          <form action="" method="POST">
                                            {% csrf_token %}
                                              <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                                <input type="text" class="form-control" name="buyer_name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                                
                                              </div>
                                              <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Email Address</label>
                                                <input type="email" class="form-control" name="buyer_email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                              </div>
                                              <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                                                <input type="text" class="form-control" name="buyer_phone" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                              </div>
                                              <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Delivery Address</label>
                                                    <input type="text" class="form-control" name="buyer_address" id="ConfirmPassword" required>
                                              </div>
                                              <div class="mb-3">
                                                  <label for="exampleInputPassword1" class="form-label">Product Payment Link</label>
                                                  <input type="url" class="form-control" name="product_payment_link" id="ConfirmPassword">                      
                                              </div>               
                                              
                                              <div class="text-center"><button type="submit" class="btn btn-primary " >Save</button></div>
                                            
                                            </form>
                                          
                                          
                            </div>
                                
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="container " style="width: 80%; border: 2px solid #93D2FF;  padding: 2%;">

                            <div class="container">
                                <p>Grow across your socials with optimized landing pages
                                    Organize your social media with a beautiful landing page designed to promote previews across your profiles and maximize conversions.
                                </p>
                            </div>
                                
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                
                            </ol>
                        </nav>
                    </div>
                </div>
                <br>
                
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

   

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="{% static 'amado/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'amado/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'amado/js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'amado/js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'amado/js/active.js' %}"></script>
    

</body>

</html>