{% load static %}


<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>MYPAGE</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/themify-icons/themify-icons.css' %}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/slick/slick.css' %}">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/Venobox/venobox.css' %}">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/aos/aos.css' %}">
  

  <!-- Main Stylesheet -->
  <link href="{% static 'dtox/css/style.css' %}" rel="stylesheet">
  
  <!--Favicon-->
  <!-- <link rel="shortcut icon" href="{% static 'dtox/images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'dtox/images/favicon.ico' %}" type="image/x-icon"> -->
  <link rel="icon" href="{% static 'dtox/images/favicon.svg' %}">

</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation " style="justify-items: center;">
  <div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light ">
        
      <a class="float-end" href="{% url 'home' %}"><img  src="{% static 'dtox/images/mypagelogo.svg' %}" alt="logo"></a>

    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- hero area -->
<section class="hero-section hero" data-background="" style="margin-top: -10%;">

  
 <div class="container " style="width: 80%; border: 2px solid #93D2FF;  padding: 2%;">

  <div class="container">
        
                <form action="" method="POST">
                  {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Product Name</label>
                      <input type="text" class="form-control" name="product_name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Product description</label>
                      <textarea class="form-control" aria-label="With textarea" name="product_description" rows="6" required></textarea>
                    </div>
                    <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Product Price</label>
                          <input type="text" class="form-control" name="product_price" id="ConfirmPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product Payment Link</label>
                        <input type="url" class="form-control" name="product_payment_link" id="ConfirmPassword">                      
                    </div>               
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Product Images</label>
                      <input type="file" class="form-control" id="inputGroupFile02" name="images" multiple required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Product Video</label>
                      <input type="file" class="form-control" id="product_video" name="video" >
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary " >Save</button></div>
                  
                  </form>
                
                
  </div>
      
  </div>
 
 <!-- <div class="container col-4" style="width: 5%; border: 2px solid #93D2FF;  padding: 2%;">
      
 <H6>Product Name</H6>
 <p>This is the simply name of the product.</p>
 <br>
 <br>
 <H6>Product Description</H6>
 <p>This is the description and the details of the product that convey necessary information about the product.</p>
 <br>
 <br>
 <H6>Product Price</H6>
 <p>This is the simply price of the product in dollars.</p>
 <H6>Payment Link</H6>
 <p>This is the link that customers use to pay for your product, click <a target="_blank" href="https://stripe.com/payments/payment-links">here</a>
   to read more. Leave empty if you want it created by us</p>
 <H6>Product Images</H6>
 <p>These are the images of the product, upload is capped at 5 images for a product.</p>

 <H6>Product Video</H6>
 <p>This is a video of the product. Upload is optional and the size limit is 2mb.</p>
  
 </div> -->
 </div>

</section>







<!-- <footer class="footer-section footer" style=" margin-top: -40%; margin-bottom: -80%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        
        <a href="index.html">
          <img class="img-fluid" src="{% static 'dtox/images/mypagelogo.svg' %}" alt="logo">
        </a>
      </div>
    
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="index.html">Home</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#feature">Feature</a></li>
          <li class="list-inline-item"><a href="about.html">About</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#team">Team</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
          <li class="list-inline-item"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="#"><i class="ti-github"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer> -->


<!-- jQuery -->
<script src="{% static 'dtox/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'dtox/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'dtox/plugins/slick/slick.min.js' %}"></script>
<!-- venobox -->
<script src="{% static 'dtox/plugins/Venobox/venobox.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'dtox/plugins/aos/aos.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'dtox/js/script.js' %}"></script>

<script>
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
  })
</script>
<script>
  var uploadField = document.getElementById("product_video");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       alert("File is too big!");
       this.value = "";
    };
};
</script>
</body>
</html>