{% load static %}

<style>
  .img-feature{
    height: 100%;
    width: 100%;
  }
</style>


<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>MYPAGE</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/themify-icons/themify-icons.css' %}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/slick/slick.css' %}">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/Venobox/venobox.css' %}">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/aos/aos.css' %}">
  

  <!-- Main Stylesheet -->
  <link href="{% static 'dtox/css/style.css' %}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body >
  

<!-- navigation -->
<section class="fixed-top navigation" >
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'dtox/images/mypagelogo.svg' %}" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse text-center" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#feature">Feature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="service.html">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#team">Team</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" class="btn btn-lg" style="border: #2F7CB1 2px solid; color: black; border-radius: 37px;" href="{% url 'signin' %}">Sign In</a>
          </li>
        </ul>          
					<a href="{% url 'signup' %}" class="btn btn-sm text-center" style="background-color: #2F7CB1; color: black; border-radius: 37px; ">Sign Up</a>
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- hero area -->
<section class="hero-section hero"  style="display:flex; justify-content:center;">
  <div class="container text-center ">
    <!-- <div class="row"> -->
      <!-- <div class=" text-center ">
         -->
        <h1 class="mb-3" style="font-family: 'Poppins'; font-weight: 1000;"><b>Streamline Your Sales: Display All Products in a Single Link!</b></h1>
        <p class="mb-4">Give your business a share of the internet with a simple, fast and responsive landing page to increase conversion.</p>
        <!-- <p>No need to register a domain name</p> -->
        <a  class="btn btn-lg" style="background-color: #2F7CB1; color: black; border-radius: 37px;" href="{% url 'home' %}" > <strong>GET STARTED</strong></a>
         <!-- <span class=""><a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cartItemmodal">Receipt template</a></span> -->
         
        <!-- banner image -->
      </div>
      <!-- <div class="col-lg-5 text-center zindex-1">
        <img src="{% static 'images/hero_image.png' %}" height="600" alt="">
        
      </div> -->
    </div>
  </div>
  <!-- background shapes -->

</section>


  <div class=" text-center">
    <img src="{% static 'images/product_display.png' %}" height="80%" width="60%" alt="">   
  </div>

<section class="section feature mb-0" id="feature" style="margin-top: 5%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Awesome Features</h2>
        <p class="mb-100">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>Excepteur sint occaecat cupidatat non proident</p>
      </div>
     
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-ruler-pencil feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Customization</h4>
            <p>MYPAGE allows you to connect your product to any url that can help convert your visitors to buyers. 
              It could be anything from a stripe payment link or WhatsApp inbox link</p>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layout-cta-left feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Data Analytics and Insights</h4>
            <p>MYPAGE provides comprehensive analytics and insights to help you make data-driven decisions.</p>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-split-v-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>User-friendly Product Listing</h4>
            <p>Easy-to-use product listing tools that allow sellers to upload product images, descriptions, prices, and other relevant details effortlessly.</p>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Reviews and Ratings</h4>
            <p>Allow buyers to leave reviews and ratings for products, helping build trust and credibility for sellers</p>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-split-v-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Customer Support</h4>
            <p>MYPAGE provides customer support to handle queries, complaints, and other issues promptly.</p>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Product Recommendations</h4>
            <p>MYPAGE uses algorithms to suggest relevant products to customers based on their browsing and purchase history.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section-lg seo" >
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div >
          <img class="img-feature" src="{% static 'images/product_display.png' %}"   alt="form-img">
        </div>
      </div>
      <div class="col-md-4">
        <br>
        <br>
        <h2 class="section-title" style="justify-content: center;">Beautiful and responsive product listing page </h2>
        <!-- <p> <strong>The MYPAGE dashboard allows you track how your products are faring over time with information like; page views, CTA clicks, Click through rate and others.
        </strong> 
        </p> -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="section-title">Set up and get it running in 5 minutes!</h2>
        <p>Setting up your MYPAGE seller page is a seamless process that takes only a few minutes.
          <br>Sign up, submit your business details and start creating product pages, it's that simple.
        </p>
      </div>
      <div class="col-md-7">
        <div class="seo-image">
          <img class="img-fluid" src="{% static 'dtox/images/marketing/marketing.png' %}" alt="form-img">
        </div>
      </div>
      
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="{% static 'images/choose_rating.png' %}"   alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">Collect reviews on your product and get notified when there is a new one</h2>
        <p>Getting reviews on your products is a great way to convince buyers on the quality of your products.
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="section-title">Personalized CTA links that connect your viewers  to you!</h2>
        <p>MYPAGE enables you to set a prefered link that customers can click when they want to purchase your products.
         
        </p>
      </div>
      <div class="col-md-7">
        <div class="seo-image">
          <img class="img-fluid" src="{% static 'dtox/images/marketing/marketing.png' %}"   alt="form-img">
        </div>
      </div>
      
    </div>
  </div>
</section>


<section class="section-lg team" id="team" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-title">Our Creators</h2>
            <p class="mb-100">We have <strong style="font-weight: bold;">500+</strong> creators who use <b style="font-weight: bold;">MYPAGE</b> to make their businesses look professional and trustworthy.
              <br>Here is what a couple of them have to say:
            </p>
          </div>
        </div>
        <div class="col-10 mx-auto">
          <div class="team-slider">
            <!-- team-member -->
            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img class="rounded-circle img-fluid" src="{% static 'dtox/images/team/team-1.jpg' %}" alt="team-member">
                </div>
                <div class="align-self-center">
                  <h4>Becroft</h4>
                  <h6 class="text-color">web designer</h6>
                </div>
              </div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
            </div>
            <!-- team-member -->
            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img class="rounded-circle img-fluid" src="{% static 'dtox/images/team/team-2.jpg' %}" alt="team-member">
                </div>
                <div class="align-self-center">
                  <h4>John Doe</h4>
                  <h6 class="text-color">web developer</h6>
                </div>
              </div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
            </div>
            <!-- team-member -->
            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img class="rounded-circle img-fluid" src="{% static 'dtox/images/team/team-3.jpg' %}" alt="team-member">
                </div>
                <div class="align-self-center">
                  <h4>Erik Ligas</h4>
                  <h6 class="text-color">Programmer</h6>
                </div>
              </div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts. S eparated they</p>
            </div>
            <!-- team-member -->
            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img class="rounded-circle img-fluid" src="{% static 'dtox/images/team/team-1.jpg' %}" alt="team-member">
                </div>
                <div class="align-self-center">
                  <h4>Erik Ligas</h4>
                  <h6 class="text-color">Programmer</h6>
                </div>
              </div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts. S eparated they</p>
            </div>
            <!-- team-member -->
            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img class="rounded-circle img-fluid" src="{% static 'dtox/images/team/team-2.jpg' %}" alt="team-member">
                </div>
                <div class="align-self-center">
                  <h4>John Doe</h4>
                  <h6 class="text-color">web developer</h6>
                </div>
              </div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
            </div>
          </div>
        </div>
      </div>
      
</section>
 





<!-- <section class="section-lg pb-0 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Pricing</h2>
        <p class="mb-50">We have a fair and simple pricing of $5 per month for the first page you create and then $3 per month for subsequent pages </p>
      </div>
     
    </div>
  </div>

  <img class="pricing-bg-shape-1 up-down-animation" src="{% static 'dtox/images/background-shape/seo-ball-1.png' %}" alt="background-shape">
  <img class="pricing-bg-shape-2 up-down-animation" src="{% static 'dtox/images/background-shape/seo-half-cycle.png' %}" alt="background-shape">
  <img class="pricing-bg-shape-3 left-right-animation" src="{% static 'dtox/images/background-shape/team-bg-triangle.png' %}" alt="background-shape">
</section> -->

<footer class="footer-section footer" style=" margin-top: -2%; margin-bottom: -80%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a href="index.html">
          <img class="img-fluid" src="{% static 'dtox/images/mypagelogo.svg' %}" alt="logo">
        </a>
      </div>
      <!-- footer menu -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="index.html">Home</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#feature">Feature</a></li>
          <li class="list-inline-item"><a href="about.html">About</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#team">Team</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
          <li class="list-inline-item"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="#"><i class="ti-github"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{% static 'dtox/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'dtox/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'dtox/plugins/slick/slick.min.js' %}"></script>
<!-- venobox -->
<script src="{% static 'dtox/plugins/Venobox/venobox.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'dtox/plugins/aos/aos.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'dtox/js/script.js' %}"></script>
<script>
  var myDropdown = document.getElementById('dropdownMenuLinkn')
myDropdown.addEventListener('show.bs.dropdown', function () {
  // do something...
})
</script>

<script>
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
  })
</script>
</body>
</html>