{% load static %}
<style>
    .biz_logo{
        font-size: 150%;
        font-weight: 400;
    }
    .blog_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
    .blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #181717;
    text-align: center;
    margin-top: 15px;
}

.blog_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2d2d2d;
    margin-left: 0px;
    text-align: center;
    font-weight: 400;
}
a.no-hover-effect {
  color: black;
  text-decoration: none;
}

a.no-hover-effect:hover {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
.line{
    height: 5px;
    width: 100%;
}
.instagram .fa {

    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

</style>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'coza/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'coza/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a  class="logo">
						<p class="biz_logo"> <strong>{{biz.business_name.upper}}</strong></p>
					</a>

				

					<div class="wrap-icon-header flex-w flex-r-m">
						<ul class="main-menu ">
							<li ><a href="#"><i style="color: #3b5998; font-size: 30px;" class="fa fa-lg fa-facebook-square"></i></a></li>
							<li ><a href="#"><i style="color: #00acee; font-size: 30px;" class="fa fa-twitter-square"></i></a></li>
							<li ><a href="#"><p class="instagram">
								<i style="font-size: 30px;" class="fa fa-instagram"></i>
								</p></a></li>
							<li ><a href="#"><i style="color: #25CF43; font-size: 30px;" class="fa fa-whatsapp"></i></a></li>
						</ul>
					</div>

				</nav>
			</div>	
		</div>

		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<p class="biz_logo"> <strong>Business Name</strong></p>
			</div>

			

			<!-- Button show menu -->
			<div class="menu-desktop">
				<ul class="main-menu">
					<li ><a href="#"><i style="color: #3b5998; " class="fa fa-lg fa-facebook-square"></i></a></li>
					<li ><a href="#"><i style="color: #00acee; " class="fa fa-twitter-square"></i></a></li>
					<li ><a href="#"><p class="instagram">
						<i class="fa fa-instagram"></i>
						</p></a></li>
					<li ><a href="#"><i style="color: #25CF43; " class="fa fa-whatsapp"></i></a></li>
				</ul>
			</div>
		</div>
	</header>

	<br>
	<br>
	<div class="container">
		<h4 class="text-center"> <b style="color: #888888;">Welcome To Our Store</b> </h4>
		<br>
		<span class="">
			In HTML, an anchor tag disappears when you hover over it because the default behavior for an anchor tag with an href attribute is to change its appearance when it is being interacted with (such as on hover).

				If you want to prevent the anchor tag from disappearing or changing its appearance when you hover over it, you can use CSS to style the anchor tag and override its default behavior. Specifically, you can use the :hover pseudo-class to set the styles for the anchor tag when it is being hovered.
				
				Here's an example of how you can style an anchor tag to prevent it from disappearing when hovered
				<div class="line"></div> 
		</span>
		
	</div>
	<br>
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<h1 class="text-center"> <b style="color: #888888;">PRODUCTS</b> </h1>
		<div class="container">
			<div class=" text-center">
				<!-- <div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
				</div> -->

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Sort by
					</div>
					<!-- <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div> -->

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<form action="{% url 'product_list' biz.slug %}?q=search">
							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
						</form>
						
					</div>	
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By Date
							</div>

							<ul>
								
								<li class="p-b-6">
									<a href="{% url 'product_list' biz.slug %}?sort=newest" class="filter-link stext-106 trans-04">
										Newest to Oldest
									</a>
									
								</li>

								<li class="p-b-6">
									<a href="{% url 'product_list' biz.slug %}?sort=oldest" class="filter-link stext-106 trans-04">
										Oldest to Newest
									</a>
								</li>

								

								
							</ul>
						</div>
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By Price
							</div>

							<ul>
								

								<li class="p-b-6">
									<a href="{% url 'product_list' biz.slug %}?price=highest" class="filter-link stext-106 trans-04">
										Highest to Lowest
									</a>
									
								</li>

								<li class="p-b-6">
									<a href="{% url 'product_list' biz.slug %}?price=lowest" class="filter-link stext-106 trans-04">
										Lowest to Highest
									</a>
								</li>

								

								
							</ul>
						</div>
						
					</div>
				</div>
			</div>

			<div class="row isotope-grid">
				
				{% for product in  page %} 

				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ">
					<!-- Block2 -->
					<div class="block2 how-shadow1">
						<div class="block2-pic hov-img0">
							<img src="{{product.product_image.url}}" style="max-width: 400px; max-height: 400px; border:#888888 1px solid" alt="IMG-PRODUCT">

							{% comment %} <a href="{% url 'product_page' biz.slug product.slug %}" style="justify-content: center;" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
								Quick View
							</a> {% endcomment %}
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="{% url 'product_page' biz.slug product.slug %}" style="color: black;" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{product.product_name}}
								</a>

								<span class="stext-105 cl3">
									${{product.product_price}}
								</span>
							</div>

							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				{% if page.has_previous %}
				<!-- <a href="?page=1">&laquo; first</a> -->
				<a href="?page={{ page.previous_page_number }}" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Previous
				</a>
				<!-- <a href="?page={{ page.previous_page_number }}" class="btn btn-primary">Previous</a> -->
				{% endif %}
				<!-- <button class="btn btn-primary">Load More</button> -->
				{% if page.has_next %}
				<!-- <a href="?page={{ page.next_page_number }}" class="btn btn-primary">Next</a> -->
				<a href="?page={{ page.next_page_number }}" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Next
				</a>
				<!-- <a href="?page={{ your_objects.paginator.num_pages }}">last &raquo;</a> -->
				{% endif %}
			
			</div>
		</div>
	</div>
		

	<!-- Footer -->
	<footer class="bg3 p-t-15 p-b-15">
		<div class="container">
			{% comment %} <div class="col-sm-12 col-lg-12 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Contact Seller
				</h4>

				<form>
					<div class="wrap-input1 w-full p-b-4">
						<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
						<div class="focus-input1 trans-04"></div>
					</div>
					<div class="wrap-input1 w-full p-b-4">
						<textarea class="input1 bg-none plh1 stext-107 cl7"  type="text" name="body" placeholder="I am writing..."></textarea>
						<div class="focus-input1 trans-04"></div>
					</div>

					<div class="p-t-18">
						<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
							Send
						</button>
					</div>
				</form>
			</div> {% endcomment %}
		</div>
	</footer>


	<!-- Back to top -->
	<!-- <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div> -->

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-01.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-02.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-03.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'coza/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'coza/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'coza/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'coza/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="{% static 'coza/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'coza/js/main.js' %}"></script>

</body>
</html>