{% load static %}


<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>MYPAGE</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/themify-icons/themify-icons.css' %}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/slick/slick.css' %}">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/Venobox/venobox.css' %}">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'dtox/plugins/aos/aos.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"> 
  

  <!-- Main Stylesheet -->
  <link href="{% static 'dtox/css/style.css' %}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container text-center" >
    <nav class="navbar navbar-expand-lg navbar-light " style="display: flex; justify-content: center;">
        
      <a class="navbar-brand " href="{% url 'home' %}"><img src="{% static 'dtox/images/mypagelogo.svg' %}" alt="logo"></a>

    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- hero area -->
<section class="hero-section hero" data-background="" style="margin-top: -10%;">
 <div class="container" style="width: 40%; border: 2px solid #93D2FF; border-radius: 5%;">
    
  <div class="container">
    
    <h4 class="text-center">Sign Up</h4>
    
    </div>
  
  <div class="container">
    
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <p>*We'll never share your email with anyone else.</p>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="Password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="ConfirmPassword">
                </div>
               
              </form>
            <p class="text-center"><a type="submit" class="btn btn-primary me-4" >Save</a></p>
            
  </div>
  <div class="dropdown-divider"></div>
  <div class="container">
    
    <p class="text-center"><a style="background-color: #795af6;" class="btn btn-dark btn-lg" href="{% url 'home' %}" ><img src="{% static 'images/google.svg' %}" alt=""> Sign In With Google</a></p>
    <p class="text-center"><a style="background-color: #795af6;" class="btn btn-dark btn-lg" href="{% url 'home' %}" ><img src="{% static 'images/Microsoft.svg' %}" alt="">Sign In With Apple</a></p>
    </div>
  
 </div>
  

</section>







<!-- <footer class="footer-section footer" style=" margin-top: -40%; margin-bottom: -80%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        
        <a href="index.html">
          <img class="img-fluid" src="{% static 'dtox/images/mypagelogo.svg' %}" alt="logo">
        </a>
      </div>
    
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="index.html">Home</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#feature">Feature</a></li>
          <li class="list-inline-item"><a href="about.html">About</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#team">Team</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
          <li class="list-inline-item"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="#"><i class="ti-github"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer> -->

<script src="https://kit.fontawesome.com/ee354b4b49.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="{% static 'dtox/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'dtox/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'dtox/plugins/slick/slick.min.js' %}"></script>
<!-- venobox -->
<script src="{% static 'dtox/plugins/Venobox/venobox.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'dtox/plugins/aos/aos.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'dtox/js/script.js' %}"></script>

<script>
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
  })
</script>
</body>
</html>